body::-webkit-scrollbar {
  width: 12px !important; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #ffd000 !important; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #c0f2ff !important; /* color of the scroll thumb */
  border-radius: 20px !important; /* roundness of the scroll thumb */
  border: 3px solid #ffd000 !important; /* creates padding around scroll thumb */
}
